# =========================
# Project Files
# =========================

# =========================

# Test space and Workspace
.*_space

# Storage directory
.local
.storage

# Project test script files
_*.bat
_*.sh

# Compiled .exe files
*.exe
*.obj

# =========================

# =========================
# Operating System Files
# =========================

#Misc. files
!.gitignore
*~
*.tmp
.directory

# OSX files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails and image file caches
._*
Thumbs.db
ehthumbs.db

# Folder config files
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows Installer files
*.cab
*.msi
*.msm
*.msp